{% extends "base.html" %}

{% comment %} 
  extends 코드는 무슨 일이 있어도 최상단에 위치해야 함
  -> 주석도 안됨
{% endcomment %}

{% block content %}
  <h1>main page</h1>
  <ul>
    {% comment %} DTL : 사용자에게 html을 잘 표현하기 위해 만들어짐 {% endcomment %}
    {% for todo in todo_list %}
      <li>{{ todo }}</li>
    {% empty %}
      <li>아직 할 일이 없음</li>
    {% endfor %}
    {% comment %} {% if not work %}
      <li>아직 할 일이 없음</li>
    {% else %}
      <li>{{work}}</li>
    {% endif %} {% endcomment %}
  </ul>
{% endblock content %}
